{% extends "base.html" %}
{% load static %}

{% load account socialaccount %}

{% block head_title %}Log Out{% endblock %}

{% block content %}
<div class="container form-container mt-5 login-border custom-narrow-container">
  <div class=" container-fluid row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3 class="display-4 login-text pb-2 text-center">Log Out</h3>
      <hr class="h-line my-4">
      <p class="welcome-login-text pb-2 text-center">Are you sure you want to Log Out?</p>
    </div>
  </div>
  <div class="container-fluid row">
    <div class="col-md-8 mt-3 offset-md-2">
      <!-- Logout form -->
      <form class="logout-form text-center" method="POST" action="{% url 'account_logout' %}">
        <!-- CSRF token for security -->
        {% csrf_token %}
        <div class="form-group text-white"></div>
        <br>
        <!-- Include a hidden input field for redirecting users after login if a custom redirect URL is provided -->
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup mb-3" type="submit">Log Out</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}