{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5 login-border custom-narrow-container" style="max-width: 700px;">
  <div class=" container-fluid row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3 class="display-4 login-text pb-2 text-center">{% trans "Sign Up" %}</h3>
      <hr class="h-line my-4">
      <p class="welcome-login-text pb-2 text-center">Create an account
        <br>
      </p>
    </div>
  </div>
  <div class="container-fluid row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form>
        {% csrf_token %}
        <div class="form-outline mb-4">
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label text-white" for="form3Example1cg">Your Name</label>
        </div>

        <div class="form-outline mb-4">
          <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
          <label class="form-label text-white" for="form3Example3cg">Your Email</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
          <label class="form-label text-white" for="form3Example4cg">Password</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
          <label class="form-label text-white" for="form3Example4cdg">Repeat your password</label>
        </div>

        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-success btn-block btn-lg text-body text-white">Register</button>
        </div>

        <p class="text-center text-muted mt-2 mb-0">Already have an account ? <a href="{% url 'account_login' %}"
            class="fw-bold text-body"><u>Login here</u></a></p>

      </form>
    </div>
  </div>
</div>
{% endblock %}