{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_title %} Signup {% endblock %}

{% block content %}
<div class="container form-container p-3 my-3 login-border custom-narrow-container">
  <div class="text-center">
    <h3 class="display-4 login-text pb-2 text-center">Sign Up</h3>
    <hr class="h-line my-4">
    <p class="welcome-login-text">Already have an account? Then please <a href="{{ login_url }}"
        class="sign-in-text">Sign In</a></p>
  </div>
  <!-- Sign Up form -->
  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
    <!-- CSRF token for security -->
    {% csrf_token %}
    {{ form | crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="text-center">
      <button type="submit" class="btn btn-signup">Sign Up</button>
    </div>
  </form>
</div>
{% endblock %}