/* Remove underline for all links */
* {
    text-decoration: none !important;
}

/* Custom colors declared in variables */
.bg-clr-second {
    background-color: #0b2b26 !important;
}

.bg-clr-dom {
    background-color: #0b2b26 !important;
}

.bg-clr-dom-light {
    background-color: #0b2b26 !important;
}

.-clr-accent {
    color: #ffa300;
}

/* Body
---------------------*/
body {
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.brand {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.card {
    border: none;
    background-color: transparent;
}

.card-comment {
    border: none;
    background-color: transparent;
    width: 20rem;
}

.profile-img {
    border: 5px solid #ffa300;
    border-radius: 5%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ffa300;
    ;
}

.author {
    color: white;
    margin: 2px;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #ffa300;
    color: #fff;
}

.sign-up-bg {
    background-color: #ffa300;
}

.join-now-bg {
    background-color: #ffa300;
}

.best-courses-text {
    color: #ffa300;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #ffa300;
    ;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

/* Navbar */
@media (min-width: 992px) {
    .navbar .container-fluid {
        max-width: 75%;
        /* Adjust the width as needed */
    }
}


/* Adjust the width for comment section to be responsive in mobiles. */
@media (min-width: 1200px) {
    .card-comment {
        width: 35rem;
    }
}

@media (max-width: 1199px) {
    .card-comment {
        width: 27rem;
    }
}

@media (max-width: 767px) {
    .card-comment {
        width: 20rem;
    }
}

@media (max-width: 365px) {
    .card-comment {
        width: 16rem;
    }
}