{% extends "base.html" %}

{% block title %} The Golfers- About Us {% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body-about p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-4 text-uppercase">The Golfers</h3>
                            <p class="text-white mb-2 text-sm-center text-md-left">
                                Welcome to The Golfers Blog, your ultimate destination for exploring the breathtaking
                                world of Irish golf courses.
                                Here, golfers unite to share their firsthand experiences and reviews of some of
                                Ireland's most scenic and challenging golf destinations.
                                Immerse yourself in the allure of Ireland's best courses and gain valuable insights from
                                fellow golf enthusiasts.
                                Whether you're a seasoned pro or a beginner, our community caters to golfers of all
                                levels, providing a platform where your opinions matter.
                                Join us in this vibrant community, where you can voice your thoughts, discover hidden
                                gems, and find inspiration for your next thrilling game of golf.
                                Let's tee off together and embark on an unforgettable golfing journey!

                        </div>
                        <img class=" about-img img-fluid mb-5 rounded-2"
                            src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1696421706/Screenshot_2023-10-04_at_13.14.48_anjzsx.png"
                            alt="Responsive image" width="500" height="500">

                        {% if user.is_authenticated %}
                        <div class="d-flex justify-content-center mt-5">
                            <a class="btn rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder join-now-bg join-now-text"
                                href="#">Create Post</a>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                                href="#">Join Now</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{%endblock%}