{% extends "base.html" %}
{% load static %}

{% block title %} The Golfers- About Us {% endblock %}

{% block content %}
<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="card bg-clr-dom-light text-white shadow-sm">
                    <div class="card-body-about p-5 mb-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <!-- golf_course_detail.html -->

                            <h1>{{ golf_course.name }}</h1>
                            <img src="{{ golf_course.image.url }}" alt="{{ golf_course.name }}">

                            <h2>Comments</h2>
                            {% for comment in comments %}
                            <p>{{ comment.text }}</p>
                            <small>Posted by {{ comment.user.username }} on {{ comment.date_published }}</small>
                            {% empty %}
                            <p>No comments yet.</p>
                            {% endfor %}

                            <hr>

                            <h2>New Comment</h2>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Submit</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{%endblock%}