{% extends "base.html" %}

{% block content %}

<!-- PAGE HEADER -->
<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Read Our Blog</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, temporibus?</p>
            </div>
        </div>
    </div>
</header>

<!-- BLOG SECTION -->
<section id="blog" class="py-3">
    <div class="container">
        <div class="row flex">
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <img src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1696331656/Screenshot_2023-10-03_at_12.13.52_pjcpjf.png"
                            alt="golf" width="300" height="200" class="img-fluid card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">Blog Post One</h4>
                            <small class="text-muted">Written by Philip on 18/07</small>
                            <hr>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quod ipsa necessitatibus, deleniti debitis nostrum pariatur amet eos animi placeat
                                corrupti modi quae voluptatum maiores cupiditate eveniet voluptatibus magni inventore
                                laudantium!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1696331656/Screenshot_2023-10-03_at_12.13.52_pjcpjf.png"
                        alt="golf" width="300" height="200" class="img-fluid card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Blog Post One</h4>
                        <small class="text-muted">Written by Philip on 18/07</small>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quod ipsa necessitatibus, deleniti debitis nostrum pariatur amet eos animi placeat
                            corrupti modi quae voluptatum maiores cupiditate eveniet voluptatibus magni inventore
                            laudantium!</p>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1696331656/Screenshot_2023-10-03_at_12.13.52_pjcpjf.png"
                        alt="golf" width="300" height="200" class="img-fluid card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Blog Post One</h4>
                        <small class="text-muted">Written by Philip on 18/07</small>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quod ipsa necessitatibus, deleniti debitis nostrum pariatur amet eos animi placeat
                            corrupti modi quae voluptatum maiores cupiditate eveniet voluptatibus magni inventore
                            laudantium!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{%endblock%}