{% extends "base.html" %}

{% block content %}

<!-- PAGE HEADER -->
<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center blog-title-text">
                <h1 class="text-heading">Read Our Course Blogs</h1>
            </div>
        </div>
    </div>
</header>

<!-- BLOG SECTION -->
<section id="blog" class="py-3">
    <div class="container">
        <div class="row">

            <div class="card" style="width: 25rem;">
                <img class="card-img"
                    src="https://res.cloudinary.com/dzxjg4vwg/image/upload/c_scale,h_821,w_1224/v1697025782/Screenshot_2023-10-11_at_12.58.21_na0n0n.png"
                    alt="golf" class="img-fluid card-img-top">
                <div class="card-body">
                    {% for post in k_club_posts %}
                    <h4 class="card-title">{{ post.title }}</h4>
                    <small class="text-muted">
                        <p class="county-text"><strong>Based In County:</strong> {{ post.location }}</p>
                    </small>
                    <small class="text-muted">
                        <p class="blog-author"><strong>Author:</strong> {{ post.author }}</p>
                    </small>
                    <hr>
                    <p class="card-text">{{ post.excerpt }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="card" style="width: 25rem;">
                <img class="card-img"
                    src="https://res.cloudinary.com/dzxjg4vwg/image/upload/c_scale,h_820,w_1222/v1697026873/Screenshot_2023-10-11_at_13.20.37_miwvmr.png"
                    alt="golf" class="img-fluid card-img-top">
                <div class="card-body">
                    {% for post in ballybunnion_posts %}
                    <h4 class="card-title">{{ post.title }}</h4>
                    <small class="text-muted">
                        <p class="county-text"><strong>Based In County:</strong> {{ post.location }}</p>
                    </small>
                    <small class="text-muted">
                        <p class="blog-author"><strong>Author:</strong> {{ post.author }}</p>
                    </small>
                    <hr>
                    <p class="card-text">{{ post.excerpt }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="card" style="width: 25rem;">
                <img class="card-img"
                    src="https://res.cloudinary.com/dzxjg4vwg/image/upload/c_scale,h_821,w_1224/v1697106982/Screenshot_2023-10-12_at_11.35.28_a4ksqs.png"
                    alt="golf" class="img-fluid card-img-top">
                <div class="card-body">
                    {% for post in the_abbey_posts %}
                    <h4 class="card-title">{{ post.title }}</h4>
                    <small class="text-muted">
                        <p class="county-text"><strong>Based In County:</strong> {{ post.location }}</p>
                    </small>
                    <small class="text-muted">
                        <p class="blog-author"><strong>Author:</strong> {{ post.author }}</p>
                    </small>
                    <hr>
                    <p class="card-text">{{ post.excerpt }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{%endblock%}