{% extends "base.html" %}
{% load static %}

{% block title %} The Golfers Blog - Top Picks {% endblock %}

{% block content %}
<section></section>
<div class="container">
    <div class="row gy-3">
        <div class="col-md-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1708960753/the_ballybunnion_500px_oni1la.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ballybunnion</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1708960595/the_k_club_500px_klsdrs.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The K Club</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1708960449/donald_trump_500px_oug4wt.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doonbeg</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{%endblock%}