{% extends "base.html" %}
{% load static %}

{% block title %} The Golfers- About Us {% endblock %}

{% block content %}
<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body-about p-5 mb-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">

                            <h3 class="fw-bold mb-4 text-uppercase text-heading">The K Club</h3>
                            <p class=" about-pg-text text-white mb-2 text-sm-center text-md-left">
                                Welcome to The Golfers Blog, your go-to hub for exploring Ireland's stunning golf
                                courses.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{%endblock%}