{% extends "base.html" %}

{% load static %}

{% block title %} The Golfers - Welcome {% endblock %}

{% block content %}
<!-- Header-->
<header class="py-5 header-bg-img">
    <div class="container px-5 pb-5 ">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="fs-3 fw-light best-courses-text">The Best Courses Reviewed</div>
                    <h1 class="display-3 fw-bolder mb-5 text-white"><span class="text-gradient d-inline">Stay in the
                            lead by discovering the premier golf courses</span></h1>
                    <!-- Button to sign up -->
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn rounded-pill btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder join-now join-now-bg join-now-text"
                            href="{% url 'account_signup' %}">Sign Up</a>
                    </div>
                </div>
            </div>
            <!-- Column for large screens -->
            <div class="col-xxl-7">
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile bg-gradient-primary-to-secondary">
                        <!-- Profile image -->
                        <img class="profile-img img-fluid hero-img-animation img22"
                            src="https://res.cloudinary.com/dzxjg4vwg/image/upload/v1696331668/Screenshot_2023-10-03_at_12.13.52_dhtgeh.png"
                            alt="landing-page-golfing-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}