{% extends "base.html" %}
{% load static %}

{% block title %} The Golfers- About Us {% endblock %}

{% block content %}
<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="card bg-clr-dom-light text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body-about p-5 mb-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <h3 class="fw-bold mb-4 text-uppercase text-heading">My Golf Blogs</h3>
                            <br>
                            <!-- Loop for displaying blogs -->
                            {% for blog in MyBlog %}
                            <br>
                            <h6 class="card-title">Course Name:</h6>
                            {{blog.course_name}}
                            <hr>
                            <h5 class="card-title">Location</h5>
                            {{blog.location}}
                            <hr>
                            <h5 class="card-title">Description</h5>
                            {{blog.content}}
                            <br>
                            {{blog.created_on}}
                            <hr>
                            {{blog.user}}
                            <br>
                            <br>
                            <!-- Link for updating blog -->
                            <a href="{% url 'update_blog' blog.id %}">Update Your Blog</a>
                            <br>
                            <!-- Loop for deleting a blog -->
                            <a href="{% url 'delete_blog' blog.id %}">Delete Your Blog</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}