{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} The Golfers- About Us {% endblock %}

{% block content %}
<!-- Profile Update Section -->
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="card bg-clr-dom-light text-white shadow-sm">
                <div class="card-body-about p-2 mb-5 text-center">
                    <div class="mb-md-2 mt-md-4 pb-5">
                        <h3 class="fw-bold mb-4 text-uppercase text-heading">My Profile</h3>
                        <form method="POST" autocomplete="off">
                            <!-- CSRF token for security -->
                            {% csrf_token %}
                            {{ProfileForm|crispy}}
                            <button class="btn btn-signup mb-3" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container border border-warning text-white">
    <div class="row text-center text-white mb-2">
        <h2>Delete your account</h2>
        <br>
        <!-- Link to delete account -->
        <a href="{% url 'profile_delete' %}">Proceed to delete your account</a>
    </div>
</div>
{%endblock%}